matplotlib==3.4.2
opencv-python==4.5.2.52
pandas==1.2.4
Pillow==7.0.0
pipupgrade==1.9.0
prompt-toolkit==3.0.18
protobuf==3.17.0
PyYAML==5.3.1
requests==2.22.0
scikit-image==0.18.1
scipy==1.6.3
simplejson==3.16.0
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.2
tifffile==2021.4.8
torch==1.7.0
torchvision==0.8.0
tqdm==4.60.0
